.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.col-4{
    width: 33.3333%;
    padding: 15px;
    box-sizing: border-box;
}
.container{
    width: 1170px;
    margin: 0 auto;
    padding: 15px;
}
